* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: pink;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.container {
  background: white;
  width: 40rem;
  border: 1px solid gray;
  text-align: center;
  padding: 1rem;
  border-radius: 5px;
}

.count {
  font-size: 3rem;
  padding: 0 1rem;
  text-align: center;
}

input[type='text']{
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  outline: none;
  text-align: center;
}
