* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: #005490;
}

.container {
  width: 40rem;
  border: 1px solid gray;
  padding: 1rem;
  background-color: white;
  text-align: center;
}

.count {
  font-size: 4rem;
  padding: 0 1rem;
  text-align: center;
}

input[type="text"] {
  display: block;
  font-size: 16px;
  border: 1px solid lightgray;
  border-radius: 2px;
  padding: 10px;
  width: 100%;
  outline: none;
}